.livre-regles {
  position: absolute;
  left: 0;
  top: 1%;
  width: 15vmin;
  height: auto;
}

.regles {
  position: absolute;
  left: 1;
  top: 22%;
  width: 100vmin;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: orange;
  color: black;
  opacity: 0.7;
  padding: 1vmin;

}
