agm-map{
    height:64vh;
}

img {
    display: block;
    margin: auto;
    height: 4vw;
    width: 4vw;
}

.mapCard {
    display: block;
    background-color: black;
    min-width: 25vw;
    padding: 15px 25px;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    top: 5px;
    border:2px solid orange;
    border-radius: 10px;
}

.modalBtn {
    width: 15vmin;
    height: 5vmin;
    background-color: orange;
    color: black;
}

.mapCard, p {
    color: white;
    text-align: center;
    font-weight: bold;
    opacity: 0.9;
}
