<div class="container" fxLayout="column">
    <div class="map" fxFlex="1 1 100%" #map>
    <agm-map [style.height.px]="map.offsetHeight" [streetViewControl]="false" [latitude]="myLat" [longitude]="myLng"
    [zoom]="13" [styles]="styles">
    <agm-marker *ngFor="let nimportequoi of posArray" [latitude]="nimportequoi.posArrayLat" [longitude]="nimportequoi.posArrayLng" [iconUrl]="icon"  (markerClick)="getCandy();nimportequoi.visible=false" [visible]="nimportequoi.visible">
    <agm-snazzy-info-window [closeWhenOthersOpen]="true" [showCloseButton]="false" [isOpen]="nimportequoi.infoWindowVisible">
    <ng-template>
    <div class="mapCard">
    <img [src]="candyList[bonbonNumber].img">
    <p>{{candyList[bonbonNumber].quality}}</p>
    <p>{{candyList[bonbonNumber].point}} point(s)</p>
    <button type="button" class="modalBtn" (click)="collectBonbon(); nimportequoi.infoWindowVisible=false">Pick Up !</button>
    <!--insérez des infos comme du HTML Classique; les balises fonctionnent, de même que les interpolations {{}}-->
    <!-- ressource: https://angular-maps.com/api-docs/agm-core/components/agminfowindow -->
    <!--les inputs sont à mettre entre [], ex [isOpen]="true"-->
    </div>
</ng-template>
    </agm-snazzy-info-window>

</agm-marker>
</agm-map>
</div>
</div>