<nav class="navbar" [ngStyle]="{'font-family' : 'Eater', 'font-size': '15px'}">
  <span>“Je pense, donc je sue. De trouille, évidemment.”</span>
</nav>

<table class="table table-sm table-dark text-center">
  <div class="pre-scrollable">
    <tbody>
      <tr *ngFor="let bonbon of candyList; let i = index">
        <th scope="row"><img  [ngStyle]="{'filter':colorizeCandy(candyList[i].quantity)}" [ngClass]="zoomCandy(candyList[i].quantity)" src="{{candyList[i].img}}" id="item{{i}}">
        </th>
        <td *ngIf="candyList[i].quantity > 0"><b>{{candyList[i].name}}</b></td>
        <td *ngIf="candyList[i].quantity == 0"><b>???</b></td>
        <td [ngStyle]="{'color':getColor(candyList[i].quality)}">{{candyList[i].quality}}</td>
        <td *ngIf="candyList[i].quantity > 0">{{candyList[i].description}}</td>
        <td class="tableau" *ngIf="candyList[i].quantity == 0"><b>???</b></td>
      </tr>
    </tbody>
  </div>
</table>


