img {
    height: 4vw;
    width: 4vw;
    filter: grayscale(100%);
}

.imgageColor{
    height: 4vw;
    width: 4vw;
}

td, th {
    vertical-align: middle;
}

.tableau {
    width: 100%;
    margin-top: 100px;
}
.sticky-top {
    background-color: black;
    width: 100%;
    border: 1px solid purple;
  }

.animation {
  animation-name: bonbon;
  animation-duration: 4s;
}

@keyframes bonbon {
  from {transform: scale(1, 2);}
  to {transform: scale(2, 1);}
}
