<!-- <div class="container">
  <div class="row col-md-6"> -->
    <table class="table table-sm table-dark text-center tableau">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Taux de sucre</th>
          <th scope="col">Taux de graisse</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><img src="../assets/images/bonbon01.png"> </th>
          <td>énorme</td>
          <td>ingroyable</td>
          <td>45</td>
        </tr>
        <tr>
          <th scope="row"><img src="../assets/images/bonbon02.png"></th>
          <td>énorme</td>
          <td>ingroyable</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row"><img src="../assets/images/bonbon03.png"></th>
          <td>miam miam</td>
          <td>génial</td>
          <td>56</td>
        </tr>
        <tr>
          <th scope="row"><img src="../assets/images/bonbon04.png"></th>
          <td>délicieux</td>
          <td>miam miam</td>
          <td>89</td>
        </tr>
        <tr>
          <th scope="row"><img src="../assets/images/bonbonJoker.png"></th>
          <td>miam miam</td>
          <td>génial</td>
          <td>1OO</td>
        </tr>
      </tbody>
    </table>
  <!-- </div>
</div> -->