<table class="table table-sm table-dark text-center tableau">
  <div class="pre-scrollable">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nom</th>
        <th scope="col">Qualité</th>
        <th scope="col">Description</th>
        <th scope="col">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tableau" *ngFor="let bonbon of candyList; let i = index">
        <th scope="row"><img [ngStyle]="{'filter':colorizeCandy(candyList[i].quantity)}" src="{{candyList[i].img}}"> </th>
        <td *ngIf="candyList[i].quantity>0"><b>{{candyList[i].name}}</b></td>
        <td *ngIf="candyList[i].quantity==0"><b>???</b></td>
        <td [ngStyle]="{'color':getColor(candyList[i].quality)}">{{candyList[i].quality}}</td>
        <td *ngIf="candyList[i].quantity>0">{{candyList[i].description}}</td>
        <td class="tableau" *ngIf="candyList[i].quantity==0"><b>???</b></td>
        <td class="tableau">{{candyList[i].quantity}}</td>
      </tr>
    </tbody>
  </div>
</table>