img {
    height: 4vw;
    width: 4vw;
    filter: grayscale(100%);
    z-index: 1000;
}

.imgageColor{
    height: 4vw;
    width: 4vw;
    z-index: 1000;
}

td, th {
    vertical-align: middle;
}

.tableau {
    width : 100%;
}

.quantite {
    width : 20px;
    text-align: center;
}

.navbar {
    background-color:rgb(197, 133, 13);
    justify-content: space-around;
}

.animation {
  animation-name: bonbon;
  animation-duration: 4s;
  z-index: 1000;
}

.table {
    height: 55vh;
}

@keyframes bonbon {
  from {transform: scale(1, 2);}
  to {transform: scale(2, 1);}
}
